/*
 * CSS Styles for Application
 *
 */

/* Resets */
body,p,h1,h2,h3,h4,h5,h6,div,span,header,footer,img,a,a:hover,a:active,a:visited,table,tr,td,th,form,input,button,select,textarea{
  line-height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #1a1a1a;
  border-width: 0;
}

.clear{
  float: none;
  width: 100%;
  height: 1px;
}

/* Main color palette */
.header{
  background-color: rgb(0, 0, 0);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 -25px 11px 20px rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 5px 15px;
  min-width: 1200px;
}

.header ul{
  list-style-type: none;
  text-align: right;
  padding: 0 5px;
  float: right;
}

.header ul li{
  display: inline-block;
  padding: 5px 5px 0 50px;
}

.header ul li a{
  text-transform: uppercase;
  font-weight: 900 !important;
  font-size: 11px;
  color: rgb(247, 241, 241);
}
img
.header ul li.loggedIn{
  display: none;
}

body.loggedIn .header ul li.loggedIn{
  display: inline-block;
}

body.loggedIn .header ul li.loggedOut{
  display: none;
}

.header .logo{
  text-align: left;
  padding: 0 0 0 5px;
  float: left;
}

.header .logo img{
    width: 10px;
}

.content {
  background-color: #00000000;
  margin-top: 10px;
  width: 78%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
}

.mining {
  margin-top: 10px;
  width: 100%;
  margin: 0px auto;
  background-color: #b33f3f59;
}

.footer{
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
  text-align: center;
  border-width: 1px 0 0 0;
  border-color: #fff;
  border-style: solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  min-width: 1200px;
}

.footer .copyright{
  color: #fff;
  font-size: 10px;
}

/* Index */
h1{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 5px 0;
}

h2{
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 20px 0;
}

body.index .blurb{
  text-align: center;
  background-color: #747474;
  border-color: #b3b3b300;
  border-style: dotted;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto 20px auto;
  max-width: 500px;
  line-height: 150%;
  font-size: 14px;
}

.blurbb{
  text-align: center;
  background-color: #505050;
  border-color: #b3b3b3;
  border-style: dotted;
  border-width: 1px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 20px auto;
  max-width: 80%;
  line-height: 150%;
  font-size: 14px;
}

.ctaWrapper{
  text-align: center;
}

.cta,a.cta:hover,a.cta:active,a.cta:visited,button.cta:hover,button.cta:active,button.cta:visited{
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 150px;
  cursor: pointer;
}

.cta.blue{
  background-color: #214478 !important;
}

.cta.green{
  background-color: #217844 !important;
}

.cta.red{
  background-color: #c83737 !important;
}

.warning{
  font-style: italic;
  color: #c83737;
  font-size: 17px;
  text-align: center;
  line-height: 150%;
  padding: 0 0 20px 0 ;
}

/* Form Styling for Account Creation page and others */
.formWrapper{
  margin: 10px auto;
  max-width: 500px;
  padding: 15px;
}

.formError{
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

.formSuccess{
  display: none;
  background-color: #217844;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #35c06d;
  border-width: 2px;
  border-style: solid;
}

hr {
  margin: 30px 0;
}

input,select,option {
  border-width: 1px;
  border-radius: 2px;
  padding: 7px 1%;
  width: 100%;
}

.checkboxGroup input{
  display: inline-block;
  width: initial;
  margin: 20px;
}

input.disabled{
  background-color: #efefef;
}

.inputWrapper{
  padding: 0 0 20px 0;
}

.inputLabel{
  padding: 0 0 5px 0;
  color: #808080;
}

.backButton{
  text-transform: uppercase;
  font-weight: bold !important;
  display: inline-block !important;
  width: 100px;
  padding: 7px !important;
  color: #fff !important;
  background-color: #1a1a1a;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

table{
  width: 100%;
  background-color: rgba(12, 65, 90, 0.048);
}

tr{
  width: 100%;
}

th{
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-color: #000;
  border-style: dotted;
  color: rgb(247, 241, 241);
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: rgb(12, 65, 90);
}

td{
  padding: 2px;
  border-bottom: 1px solid rgba(20, 12, 90, 0.055);
  
}

td a, td a:hover, td a:active{
  color: #273c5a;
  text-decoration: underline;
  cursor: pointer;
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
  height: autopx;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 16px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 85%;
  border-left: none;
  height: 750px;
  overflow:hidden;
}










.content
div.card {
 background-color: rgba(255, 255, 255, 0.808);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}/*
.container{
  display: grid;
  grid-template-columns: 80% 20%;/*
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
  grid-gap: 1%;*/
  /*
  background-color: #ffffff00;
  padding: 10px;
  width: 89%;}*/
  /*
.grid-container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 11% 11% 25%;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 20px;
  grid-gap: 5px;
  background-color: #ffffff00;
  padding: 10px;
  width:92%;
}*/
.grid-container2 {
  color: rgb(42, 80, 202);
  height: 500px;
  display: grid;
  grid-template-columns: 55% auto 25%;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  grid-gap: 15px;
  background-color: #ffffff00;
  padding: 10px;
  width: 91%;
}
.grid-container3 {
  height: 310px;
  display: grid;
  grid-template-columns: 36% 19% 36%;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  grid-gap: 15px;
  background-color: #ffffff00;
  padding: 10px;
  width: 91%;
}

.grid-container.grid-container2 > div {
  border-radius: 5px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.26);
  border: 1px solid rgb(168, 168, 168);
  text-align: center;
  font-size: 30px;
}


.grid-containerChart > div {
  border-radius: 5px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.575);
  border: 1px solid rgb(168, 168, 168);
  text-align: center;
  font-size: 30px;
}









body {
  font-family: "Lato", sans-serif;
  
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





.btn-group button {
  background-color: rgb(12, 65, 90); /* Green background */
  border: 1px solid  rgb(184, 198, 204); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  height: 50px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color:rgb(45, 110, 139);
}




.dropbtn {
  background-color: #4caf4f00;
  color: rgb(255, 255, 255);
  padding: 0px;
  font-weight: 900 !important;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(45, 110, 139);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(125, 196, 230);}

.dropdown:hover .dropdown-content {
  display: block;
}
/*
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

*/




.tooltip{position:absolute;z-index:1070;display:block;margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-style:normal;font-weight:400;line-height:1.5;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;white-space:normal;line-break:auto;font-size:.875rem;word-wrap:break-word;opacity:0}.tooltip.show{opacity:.9}.tooltip .arrow{position:absolute;display:block;width:.8rem;height:.4rem}.tooltip .arrow::before{position:absolute;content:"";border-color:transparent;border-style:solid}.bs-tooltip-auto[x-placement^=top],.bs-tooltip-top{padding:.4rem 0}.bs-tooltip-auto[x-placement^=top] .arrow,.bs-tooltip-top .arrow{bottom:0}.bs-tooltip-auto[x-placement^=top] .arrow::before,.bs-tooltip-top .arrow::before{top:0;border-width:.4rem .4rem 0;border-top-color:#000}.bs-tooltip-auto[x-placement^=right],.bs-tooltip-right{padding:0 .4rem}.bs-tooltip-auto[x-placement^=right] .arrow,.bs-tooltip-right .arrow{left:0;width:.4rem;height:.8rem}.bs-tooltip-auto[x-placement^=right] .arrow::before,.bs-tooltip-right .arrow::before{right:0;border-width:.4rem .4rem .4rem 0;border-right-color:#000}.bs-tooltip-auto[x-placement^=bottom],.bs-tooltip-bottom{padding:.4rem 0}.bs-tooltip-auto[x-placement^=bottom] .arrow,.bs-tooltip-bottom .arrow{top:0}.bs-tooltip-auto[x-placement^=bottom] .arrow::before,.bs-tooltip-bottom .arrow::before{bottom:0;border-width:0 .4rem .4rem;border-bottom-color:#000}.bs-tooltip-auto[x-placement^=left],.bs-tooltip-left{padding:0 .4rem}.bs-tooltip-auto[x-placement^=left] .arrow,.bs-tooltip-left .arrow{right:0;width:.4rem;height:.8rem}.bs-tooltip-auto[x-placement^=left] .arrow::before,.bs-tooltip-left .arrow::before{left:0;border-width:.4rem 0 .4rem .4rem;border-left-color:#000}.tooltip-inner{max-width:200px;padding:.25rem .5rem;color:#fff;text-align:center;background-color:#000;border-radius:.25rem}
